# List all third-party packages to add to your local environment
#All pack are managed by setup.py
pandas
numpy
tensorflow==2.10
scikit-learn
matplotlib
seaborn
google.cloud
pyarrow
pytest
pylint
ipdb
jupyterlab
streamlit
fsspec
gcsfs
joblib
ipykernel
nbresult

google-cloud-bigquery<3.0.0
google-cloud-storage
python-dotenv
# API
fastapi
pytz
uvicorn
# tests
httpx
pytest-asyncio
