# List all third-party packages to add to your local environment
#All pack are managed by setup.py
pandas
numpy
tensorflow
scikit-learn
matplotlib
seaborn
google.cloud
pyarrow
pytest
pylint
ipdb
jupyterlab
scikit-learn
streamlit
fsspec
gcsfs
